name: ParaCompiler CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-container:
    name: Build & Test
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/nerett/paracompiler-tools-ci:latest
      credentials:
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@v4

    - name: Verify Environment
      run: |
        echo "Using Clang: $(which clang++)"
        clang++ --version
        echo "CMake version: $(cmake --version)"
        echo "CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH"

    - name: Build
      run: make rebuild

    - name: Install FileCheck (Temporary workaround)
      run: |
        if ! command -v FileCheck &> /dev/null; then
            echo "FileCheck not found. Installing system LLVM package..."
            sudo zypper --non-interactive refresh
            sudo zypper --non-interactive install llvm-devel
        else
            echo "FileCheck found at $(which FileCheck)"
        fi

    - name: Run Tests (LIT)
      run: make test
