name: ParaCompiler CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-ubuntu-2204:
    name: Build (Ubuntu 22.04)
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Base Dependencies
      run: |
        sudo apt update
        sudo apt install -y wget lsb-release software-properties-common gnupg ninja-build default-jre make

    - name: Install CMake 3.31
      run: |
        wget https://github.com/Kitware/CMake/releases/download/v3.31.0/cmake-3.31.0-linux-x86_64.sh
        chmod +x cmake-3.31.0-linux-x86_64.sh
        sudo ./cmake-3.31.0-linux-x86_64.sh --skip-license --prefix=/usr/local

    - name: Install LLVM 19
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 19
        sudo apt install -y clang-tools-19

    - name: Force Clang 19 Symlinks
      run: |
        echo "Removing old symlinks..."
        sudo rm -f /usr/bin/clang /usr/bin/clang++ /usr/bin/clang-scan-deps /usr/bin/llvm-config

        echo "Creating new symlinks to version 19..."
        sudo ln -s /usr/bin/clang-19 /usr/bin/clang
        sudo ln -s /usr/bin/clang++-19 /usr/bin/clang++
        sudo ln -s /usr/bin/clang-scan-deps-19 /usr/bin/clang-scan-deps
        sudo ln -s /usr/bin/llvm-config-19 /usr/bin/llvm-config

        echo "Verifying versions..."
        clang++ --version
        llvm-config --version

    - name: Checkout External Dependencies (Emulate Repo)
      run: |
        mkdir -p ../external
        echo "Cloning ANTLR 4.13.1 Source..."
        git clone --depth 1 --branch 4.13.1 https://github.com/antlr/antlr4.git ../external/antlr4

    - name: Build
      run: |
        echo "v0 : int = 42; output(0, v0);" > ci_test.pcl
        make clean
        export LLVM_DIR=/usr/lib/llvm-19/lib/cmake/llvm
        make config
        make build

    - name: Run Simple Test
      run: ./build/src/paracl ci_test.pcl

    - name: Run Unit Tests (CTest)
      run: ctest --preset dev
